In [2]:
import pandas as pd
import seaborn as sns
from ASD_Data_Reader import Data_Reader
# 3 types of asd measures: sky, water, white_reference
# 10 replicates

In [3]:
df1 = pd.read_csv('./processed_data/9mile/9mile_10_sky00000.asd.txt', sep='\t')
df2 = pd.read_csv('./processed_data/9mile/9mile_10_sky00001.asd.txt', sep='\t')
df3 = pd.read_csv('./processed_data/9mile/9mile_10_sky00002.asd.txt', sep='\t')

In [4]:
# rename columns
df1.columns = ["wavelength", "9mile_10_sky"]
df2.columns = ["wavelength", "9mile_10_sky"]
df3.columns = ["wavelength", "9mile_10_sky"]
rep10_9mile_sky = df1[["wavelength"]]

In [5]:
# compute the average of three asd sky measures
rep10_9mile_sky["9mile_sky_asd"] = (df1["9mile_10_sky"] + df2["9mile_10_sky"] + df3["9mile_10_sky"]) / 3

In [6]:
sns.scatterplot(x="wavelength", y="9mile_sky_asd", data=rep10_9mile_sky)
sns.scatterplot(x="wavelength", y="9mile_10_sky", data=df1)
sns.scatterplot(x="wavelength", y="9mile_10_sky", data=df2)
sns.scatterplot(x="wavelength", y="9mile_10_sky", data=df3)

In [7]:
t = Data_Reader(["9mile"])

In [8]:
data = t.get_raw_data()[0]
data = data[data["rep_number"] == 10]
data = data[data["rep_name"] == "sky"]
sns.scatterplot(x="wavelength", y="asd_measure", data=data)

In [9]:
data

       rep_number rep_name  wavelength  asd_measure
53775          10      sky       350.0     1.264332
53776          10      sky       351.0     1.255044
53777          10      sky       352.0     1.245597
53778          10      sky       353.0     1.236000
53779          10      sky       354.0     1.226730
53780          10      sky       355.0     1.217878
53781          10      sky       356.0     1.208593
53782          10      sky       357.0     1.199330
53783          10      sky       358.0     1.190257
53784          10      sky       359.0     1.181476
53785          10      sky       360.0     1.173089
53786          10      sky       361.0     1.164645
53787          10      sky       362.0     1.156452
53788          10      sky       363.0     1.149063
53789          10      sky       364.0     1.142382
53790          10      sky       365.0     1.135840
53791          10      sky       366.0     1.129453
53792          10      sky       367.0     1.123657
53793          10      sky       368.0     1.117914
53794          10      sky       369.0     1.111978
53795          10      sky       370.0     1.105722
53796          10      sky       371.0     1.099146
53797          10      sky       372.0     1.092466
53798          10      sky       373.0     1.085554
53799          10      sky       374.0     1.078489
53800          10      sky       375.0     1.071977
53801          10      sky       376.0     1.065982
53802          10      sky       377.0     1.060118
53803          10      sky       378.0     1.054020
53804          10      sky       379.0     1.048168
...           ...      ...         ...          ...
55896          10      sky      2471.0     0.407952
55897          10      sky      2472.0     0.403934
55898          10      sky      2473.0     0.401006
55899          10      sky      2474.0     0.405801
55900          10      sky      2475.0     0.402762
55901          10      sky      2476.0     0.395898
55902          10      sky      2477.0     0.392108
55903          10      sky      2478.0     0.386807
55904          10      sky      2479.0     0.391024
55905          10      sky      2480.0     0.401469
55906          10      sky      2481.0     0.391140
55907          10      sky      2482.0     0.376020
55908          10      sky      2483.0     0.369044
55909          10      sky      2484.0     0.347836
55910          10      sky      2485.0     0.354766
55911          10      sky      2486.0     0.381945
55912          10      sky      2487.0     0.371464
55913          10      sky      2488.0     0.375616
55914          10      sky      2489.0     0.383155
55915          10      sky      2490.0     0.383603
55916          10      sky      2491.0     0.408471
55917          10      sky      2492.0     0.407583
55918          10      sky      2493.0     0.411338
55919          10      sky      2494.0     0.389224
55920          10      sky      2495.0     0.355593
55921          10      sky      2496.0     0.380620
55922          10      sky      2497.0     0.388098
55923          10      sky      2498.0     0.358245
55924          10      sky      2499.0     0.364387
55925          10      sky      2500.0     0.349817

[2151 rows x 4 columns]